@import "tailwindcss";
@import "./tabsLayout.css";
@import "./tab.css";

:root {
  /* Backgrounds */
  --background: #ffffff;
  --background-alt: #f1f5f8;
  --foreground: #7f858d; 

  --activeTabBorder: #4690e2;
  --activeTabText: #343434;

  --drag-tab: #7f858d;
  --drag-text: #ffffff;

  --border: #eff0f5;
}

@theme inline {
  /* Основні кольори */
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-foreground: var(--foreground);

  --color-activeTabBorder: var(--activeTabBorder);
  --color-activeTabText: var(--activeTabText);

  --color-drag-tab: var(--drag-tab);
  --color-drag-text: var(--drag-text);

  --color-border: var(--border);
}


@media (prefers-color-scheme: dark) {
  :root {
    /* Backgrounds */
    --background: #ffffff;
    --background-alt: #f1f5f8;
    --foreground: #7f858d; 
  
    --activeTabBorder: #4690e2;
    --activeTabText: #343434;

    --drag-tab: #7f858d;
    --drag-text: #ffffff;

    --border: #eff0f5;
  }
}

body {
  @apply flex flex-col bg-background text-foreground overflow-x-hidden
}
